{{!-- {{log 'Input data' this}} --}}
<!-- Displays Specific Player info -->

<!-- class values associate to css file-->
<form>
    <head>
        <script type = "text/javascript">
            google.charts.load('current', {packages: ['corechart']});     
        </script>
    </head>

    <!-- Example of using en.json values <li>{{localize "DICE_STATS_TEXT.player-stats-button-title"}} : {{testhandle}}</li>-->
    <!-- [(name, id, isCheked), (name, isChecked), (name, isCheked)...] -->
    <!-- Player Checkboxes -->
    <div class="center-checkboxes">
        {{#each PLAYERS_SELECTED}} 
            <input type="checkbox" class="form-checkboxes" data-action="{{{this.id}}}" {{{diceStats_IsChecked this.isChecked}}}><span class="form-checkboxes">{{this.name}}</span></input>
        {{/each}} 
    </div>
    <h1></h1>
    <!-- Checkboxes to choose if you want a graph hidden -->
    <div class="center-checkboxes">
        <input type="checkbox" class="form-checkboxes" data-action="d2checkbox"     {{{diceStats_IsChecked IS_DIE_DISPLAYED.[0]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d2"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d3checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[1]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d3"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d4checkbox"     {{{diceStats_IsChecked IS_DIE_DISPLAYED.[2]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d4"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d6checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[3]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d6"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d8checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[4]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d8"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d10checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[5]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d10"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d12checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[6]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d12"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d20checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[7]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d20"}}</span></input>
    </div>
    <br>

    <div class="col">
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.global_data_form.title"}}</h1>
        <br>
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[0]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d2"}}</h1>
        <div id = "d2ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}

        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[1]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d3"}}</h1>
        <div id = "d3ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[2]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d4"}}</h1>
        <div id = "d4ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[3]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d6"}}</h1>
        <div id = "d6ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[4]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d8"}}</h1>
        <div id = "d8ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}

        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[5]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d10"}}</h1>
        <div id = "d10ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[6]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d12"}}</h1>
        <div id = "d12ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[7]}}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d20"}}</h1>
        <div id = "d20ChartGlobal" class="comparison-chart-dice-stats"></div>
        <br>
        {{/diceStats_ifDisplayDieInfo}}
        
        <div>
            <br>
            <h1></h1>
            <button type="button" data-action="refresh">{{localize "DICE_STATS_TEXT.both_forms.refresh_btn"}}</button>
        </div>
    </div>


<!-- ============================================================= -->
<!-- =============End HTML, Start Chart Code ===================== -->
<!-- ============================================================= -->
    <script language = "JavaScript">
        var chartOptions = {
            //NOTE:Couldn't adjust "hAxis.baseline" to make it thicker
            backgroundColor:{
                fill: '#faf0e1',
                fillOpacity: 0.1,
            },
            chartArea:{
                backgroundColor:{
                //stroke: 'black',
                //strokeWidth: 5,
                fill: '#faf0e1',
                fillOpacity: 0.1,
                },
            },
            hAxis: {
                title: '{{localize 'DICE_STATS_TEXT.google_chart.die'}}',
                titleTextStyle:{
                    fontSize:20,
                },
                textStyle:{
                    fontSize: 12,
                },
                gridlines:{
                    color:'black',
                },
            },
            vAxis: {
                title: '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}',
                titleTextStyle:{
                    fontSize:20,
                },
                textStyle:{
                    fontSize: 15,
                },
                gridlines:{
                    color:'black',
                },
                minorGridlines:{
                    color:'black',
                },
                minValue: 0,
            },
            legend: 'right',
        }


        function drawChartd2() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{{diceStats_getCompareDiceArray D2_ROLL_DATA_1}}}],
                [{{{diceStats_getCompareDiceArray D2_ROLL_DATA_2}}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d2ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        function drawChartd3() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{{diceStats_getCompareDiceArray D3_ROLL_DATA_1}}}],
                [{{{diceStats_getCompareDiceArray D3_ROLL_DATA_2}}}],
                [{{{diceStats_getCompareDiceArray D3_ROLL_DATA_3}}}]
                
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d3ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        function drawChartd4() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{{diceStats_getCompareDiceArray D4_ROLL_DATA_1}}}],
                [{{{diceStats_getCompareDiceArray D4_ROLL_DATA_2}}}],
                [{{{diceStats_getCompareDiceArray D4_ROLL_DATA_3}}}],
                [{{{diceStats_getCompareDiceArray D4_ROLL_DATA_4}}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d4ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        function drawChartd6() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{{diceStats_getCompareDiceArray D6_ROLL_DATA_1}}}],
                [{{{diceStats_getCompareDiceArray D6_ROLL_DATA_2}}}],
                [{{{diceStats_getCompareDiceArray D6_ROLL_DATA_3}}}],
                [{{{diceStats_getCompareDiceArray D6_ROLL_DATA_4}}}],
                [{{{diceStats_getCompareDiceArray D6_ROLL_DATA_5}}}],
                [{{{diceStats_getCompareDiceArray D6_ROLL_DATA_6}}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d6ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        function drawChartd8() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_1}}}],
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_2}}}],
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_3}}}],
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_4}}}],
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_5}}}],
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_6}}}],
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_7}}}],
                [{{{diceStats_getCompareDiceArray D8_ROLL_DATA_8}}}]
                
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d8ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        function drawChartd10() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_1}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_2}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_3}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_4}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_5}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_6}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_7}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_8}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_9}}}],
                [{{{diceStats_getCompareDiceArray D10_ROLL_DATA_10}}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d10ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        function drawChartd12() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_1}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_2}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_3}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_4}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_5}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_6}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_7}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_8}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_9}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_10}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_11}}],
                [{{diceStats_getCompareDiceArray D12_ROLL_DATA_12}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d12ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        function drawChartd20() {
            // Define the chart to be drawn.
            let headings = "{{{diceStats_getComparePlayerNames PLAYERS_SELECTED}}}";
            var data = google.visualization.arrayToDataTable([
                headings.split('|'),
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_1}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_2}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_3}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_4}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_5}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_6}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_7}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_8}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_9}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_10}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_11}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_12}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_13}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_14}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_15}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_16}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_17}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_18}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_19}}],
                [{{diceStats_getCompareDiceArray D20_ROLL_DATA_20}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20ChartGlobal'));
            chart.draw(data, chartOptions);
        }

        //Checks to See if charts callback should be made
        if({{IS_DIE_DISPLAYED.[0]}})
        {
            google.charts.setOnLoadCallback(drawChartd2);
        }

        if({{IS_DIE_DISPLAYED.[1]}})
        {
            google.charts.setOnLoadCallback(drawChartd3);
        }

        if({{IS_DIE_DISPLAYED.[2]}})
        {
            google.charts.setOnLoadCallback(drawChartd4);
        }

        if({{IS_DIE_DISPLAYED.[3]}})
        {
            google.charts.setOnLoadCallback(drawChartd6);
        }

        if({{IS_DIE_DISPLAYED.[4]}})
        {
            google.charts.setOnLoadCallback(drawChartd8);
        }

        if({{IS_DIE_DISPLAYED.[5]}})
        {
            google.charts.setOnLoadCallback(drawChartd10);
        }

        if({{IS_DIE_DISPLAYED.[6]}})
        {
            google.charts.setOnLoadCallback(drawChartd12);
        }

        if({{IS_DIE_DISPLAYED.[7]}})
        {
            google.charts.setOnLoadCallback(drawChartd20);
        }

    </script>

</form>