<section>
    <nav class="tabs" data-group="primary-tabs">
        {{#each tabs}}
        <a class="item" data-tab="{{label}}"><i class="fas fa-dice-d20"></i> {{title}}</a>
        {{/each}}
    </nav>
    
    <b>Fixed header</b><br>
    {{header}}
    <hr>

    <section class="content">
        {{#each tabs}}
        <div class="tab" data-tab="{{label}}" data-group="primary-tabs">
            Tab Title: {{title}}
            <br>
            {{{content}}}
        </div>
        {{/each}}
    </section>
</section>