{{!-- {{log 'Input data' this}} --}}
<!-- Allows Exporting Data -->

<form>
    <h1>{{localize "DICE_STATS_TEXT.export_data_form.header"}}</h1>

    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d100"}}</h3>
    <button type="button" data-action="export-csv-d100">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d20"}}</h3>
    <button type="button" data-action="export-csv-d20">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d12"}}</h3>
    <button type="button" data-action="export-csv-d12">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d10"}}</h3>
    <button type="button" data-action="export-csv-d10">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d8"}}</h3>
    <button type="button" data-action="export-csv-d8">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d6"}}</h3>
    <button type="button" data-action="export-csv-d6">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d4"}}</h3>
    <button type="button" data-action="export-csv-d4">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d3"}}</h3>
    <button type="button" data-action="export-csv-d3">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    <h3>{{localize "DICE_STATS_TEXT.both_forms.section_headings.d2"}}</h3>
    <button type="button" data-action="export-csv-d2">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>

</form>