{{!-- {{log 'Input data' this}} --}}
<!-- Allows Exporting Data -->

<form>
    <h1>{{localize "DICE_STATS_TEXT.export_data_form.header"}}</h1>

    <h2>All Data</h2>
    <button type="button" data-action="export-csv-allplayers">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>

    <hr />

    <h2>Individual Player</h2>
    {{#each players}}
    <h3>{{this}}
    <button type="button" data-action="export-csv-player-{{this}}">{{localize "DICE_STATS_TEXT.export_data_form.export_csv_btn"}}</button>
    {{/each}}

</form>
