{{!-- {{log 'Input data' this}} --}}
<!-- Displays Specific Player info -->

<!-- class values associate to css file-->
<form>
    <head>
        <script type = "text/javascript">
            google.charts.load('current', {packages: ['corechart']});     
        </script>
    </head>

    <!-- Example of using en.json values <li>{{localize "DICE_STATS_TEXT.player-stats-button-title"}} : {{testhandle}}</li>-->
    <div class="form-checkboxes">
        <input type="checkbox" class="form-checkboxes" data-action="d2checkbox"     {{{diceStats_IsChecked IS_DIE_DISPLAYED.[0]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d2"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d3checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[1]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d3"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d4checkbox"     {{{diceStats_IsChecked IS_DIE_DISPLAYED.[2]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d4"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d6checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[3]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d6"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d8checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[4]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d8"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d10checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[5]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d10"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d12checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[6]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d12"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d20checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[7]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d20"}}</span></input>
        <input type="checkbox" class="form-checkboxes" data-action="d100checkbox"    {{{diceStats_IsChecked IS_DIE_DISPLAYED.[8]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d100"}}</span></input>
    </div>
    <br>
    {{#diceStats_ifHaveBlindRolls BLIND_ROLL_COUNT}}
    <div class="blind-roll-rollcount">
        <h2>{{localize "DICE_STATS_TEXT.player_data_form.blind_rolls" ui_rolls=BLIND_ROLL_COUNT }}</h2>
    </div>
    <br>
    {{/diceStats_ifHaveBlindRolls}}

    <div class="col">
        <h1 class="dice-type-title"> {{PLAYER_NAME}} {{localize "DICE_STATS_TEXT.player_data_form.player_name"}}</h1>
        <br>
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[0]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[0] }} <!-- Associated Helper in Main -->
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d2"}}</h1>
        <div id = "d2Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[0]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[0]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[0]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[0]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[0]}}     <!--Associated helper in main-->
                    {{#diceStats_ifHaveStreak STREAK.[0]}}    <!--Associated helper in main-->
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[0]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        

        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[1]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[1] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d3"}}</h1>
        <div id = "d3Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[1]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[1]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[1]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[1]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[1]}}  
                    {{#diceStats_ifHaveStreak STREAK.[1]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[1]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[2]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[2] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d4"}}</h1>
        <div id = "d4Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[2]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[2]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[2]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[2]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[2]}}  
                    {{#diceStats_ifHaveStreak STREAK.[2]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[2]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[3]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[3] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d6"}}</h1>
        <div id = "d6Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[3]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[3]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[3]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[3]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[3]}}  
                    {{#diceStats_ifHaveStreak STREAK.[3]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[3]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[4]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[4] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d8"}}</h1>
        <div id = "d8Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[4]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[4]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[4]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[4]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[4]}}  
                    {{#diceStats_ifHaveStreak STREAK.[4]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[4]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[5]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[5] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d10"}}</h1>
        <div id = "d10Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[5]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[5]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[5]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[5]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[5]}}  
                    {{#diceStats_ifHaveStreak STREAK.[5]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[5]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[6]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[6] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d12"}}</h1>
        <div id = "d12Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[6]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[6]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[6]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[6]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[6]}}  
                    {{#diceStats_ifHaveStreak STREAK.[6]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[6]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[7]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[7] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d20"}}</h1>
        <div id = "d20Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[7]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[7]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[7]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[7]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[7]}}  
                    {{#diceStats_ifHaveStreak STREAK.[7]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[7]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        <br>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}
        
        {{#diceStats_ifDisplayDieInfo IS_DIE_DISPLAYED.[8]}}
        {{#diceStats_ifDieUsed TOTAL_ROLLS.[8] }}
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.both_forms.section_headings.d100"}}</h1>
        <div id = "d100Chart" class="chart-dice-stats"></div>
        <table>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                <td>{{TOTAL_ROLLS.[8]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                <td>{{MEAN.[8]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                <td>{{MEDIAN.[8]}}</th>
            </tr>
            <tr>
                <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                <td>{{MODE.[8]}}</th>
            </tr>
            <tr>
                {{#diceStats_ifStreakIsBlind S_IS_B.[8]}}  
                    {{#diceStats_ifHaveStreak STREAK.[8]}}  
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.streak"}}</td>
                        <td>{{STREAK.[8]}}</td> 
                    {{else}}
                        <td>{{localize "DICE_STATS_TEXT.player_data_form.no_streak"}}</td>
                    {{/diceStats_ifHaveStreak}}
                {{else}}
                    <td>{{localize "DICE_STATS_TEXT.player_data_form.streak_blind"}}</td>
                {{/diceStats_ifStreakIsBlind}}
            </tr>
        </table>
        {{/diceStats_ifDieUsed}}
        {{/diceStats_ifDisplayDieInfo}}

        <br>
        <div>
            <tr>   
                <button type="button" data-action="refresh">{{localize "DICE_STATS_TEXT.both_forms.refresh_btn"}}</button>    
            </tr>
            {{#diceStats_ifIsMe PLAYER_NAME}}
            <br>
            <h4 class="db-interaction-heading"></h4>
            <table>
                <tr>
                    <td>
                        <button type="button" data-action="clearAllLocalRollData">Clear Your Locally Stored Data</button>
                    </td>
                    <td>
                        <button type="button" data-action="clearYourLocalRollData">Clear All Locally Stored Data</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" data-action="loadAllFromDB">{{localize "DICE_STATS_TEXT.player_data_form.load_data_btn"}}</button>
                    </td>
                    <td>
                        <button type="button" data-action="save">{{localize "DICE_STATS_TEXT.player_data_form.save_data_btn"}}</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" data-action="loadOthersFromDB">{{localize "DICE_STATS_TEXT.player_data_form.load_data_btn_others"}}</button>
                    </td>
                    <td>
                        <button type="button" data-action="loadYoursFromDB">{{localize "DICE_STATS_TEXT.player_data_form.load_data_btn_yours"}}</button>
                    </td>
                </tr>
            </table>
            {{/diceStats_ifIsMe}}
        </div>
    </div>

<!-- ============================================================= -->
<!-- =============End HTML, Start Chart Code ===================== -->
<!-- ============================================================= -->
    <script language = "JavaScript">
        var chartOptions = {
            //NOTE:Couldn't adjust "hAxis.baseline" to make it thicker
            backgroundColor:{
                fill: '#faf0e1',
                fillOpacity: 0.1,
            },
            chartArea:{
                backgroundColor:{
                //stroke: 'black',
                //strokeWidth: 5,
                fill: '#faf0e1',
                fillOpacity: 0.1,
                },
            },
            hAxis: {
                title: 'Die Number',
                titleTextStyle:{
                    fontSize:20,
                },
                textStyle:{
                    fontSize: 12,
                },
                gridlines:{
                    color:'black',
                },
            },
            vAxis: {
                title: 'Number Of Rolls',
                titleTextStyle:{
                    fontSize:20,
                },
                textStyle:{
                    fontSize: 15,
                },
                gridlines:{
                    color:'black',
                },
                minorGridlines:{
                    color:'black',
                },
            },
            legend: 'none',
        }

        function drawChartd2() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',  {{D2_ROLL_DATA.[0]}}],
                ['2',  {{D2_ROLL_DATA.[1]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d2Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd3() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',  {{D3_ROLL_DATA.[0]}}],
                ['2',  {{D3_ROLL_DATA.[1]}}],
                ['3',  {{D3_ROLL_DATA.[2]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d3Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd4() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',   {{D4_ROLL_DATA.[0]}}],
                ['2',   {{D4_ROLL_DATA.[1]}}],
                ['3',   {{D4_ROLL_DATA.[2]}}],
                ['4',   {{D4_ROLL_DATA.[3]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d4Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd6() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',   {{D6_ROLL_DATA.[0]}}],
                ['2',   {{D6_ROLL_DATA.[1]}}],
                ['3',   {{D6_ROLL_DATA.[2]}}],
                ['4',   {{D6_ROLL_DATA.[3]}}],
                ['5',   {{D6_ROLL_DATA.[4]}}],
                ['6',   {{D6_ROLL_DATA.[5]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d6Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd8() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',   {{D8_ROLL_DATA.[0]}}],
                ['2',   {{D8_ROLL_DATA.[1]}}],
                ['3',   {{D8_ROLL_DATA.[2]}}],
                ['4',   {{D8_ROLL_DATA.[3]}}],
                ['5',   {{D8_ROLL_DATA.[4]}}],
                ['6',   {{D8_ROLL_DATA.[5]}}],
                ['7',   {{D8_ROLL_DATA.[6]}}],
                ['8',   {{D8_ROLL_DATA.[7]}}]
                
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d8Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd10() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',   {{D10_ROLL_DATA.[0]}}],
                ['2',   {{D10_ROLL_DATA.[1]}}],
                ['3',   {{D10_ROLL_DATA.[2]}}],
                ['4',   {{D10_ROLL_DATA.[3]}}],
                ['5',   {{D10_ROLL_DATA.[4]}}],
                ['6',   {{D10_ROLL_DATA.[5]}}],
                ['7',   {{D10_ROLL_DATA.[6]}}],
                ['8',   {{D10_ROLL_DATA.[7]}}],
                ['9',   {{D10_ROLL_DATA.[8]}}],
                ['10',   {{D10_ROLL_DATA.[9]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d10Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd12() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',   {{D12_ROLL_DATA.[0]}}],
                ['2',   {{D12_ROLL_DATA.[1]}}],
                ['3',   {{D12_ROLL_DATA.[2]}}],
                ['4',   {{D12_ROLL_DATA.[3]}}],
                ['5',   {{D12_ROLL_DATA.[4]}}],
                ['6',   {{D12_ROLL_DATA.[5]}}],
                ['7',   {{D12_ROLL_DATA.[6]}}],
                ['8',   {{D12_ROLL_DATA.[7]}}],
                ['9',   {{D12_ROLL_DATA.[8]}}],
                ['10',  {{D12_ROLL_DATA.[9]}}],
                ['11',  {{D12_ROLL_DATA.[10]}}],
                ['12',  {{D12_ROLL_DATA.[11]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d12Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd20() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',   {{D20_ROLL_DATA.[0]}}],
                ['2',   {{D20_ROLL_DATA.[1]}}],
                ['3',   {{D20_ROLL_DATA.[2]}}],
                ['4',   {{D20_ROLL_DATA.[3]}}],
                ['5',   {{D20_ROLL_DATA.[4]}}],
                ['6',   {{D20_ROLL_DATA.[5]}}],
                ['7',   {{D20_ROLL_DATA.[6]}}],
                ['8',   {{D20_ROLL_DATA.[7]}}],
                ['9',   {{D20_ROLL_DATA.[8]}}],
                ['10',  {{D20_ROLL_DATA.[9]}}],
                ['11',  {{D20_ROLL_DATA.[10]}}],
                ['12',  {{D20_ROLL_DATA.[11]}}],
                ['13',  {{D20_ROLL_DATA.[12]}}],
                ['14',  {{D20_ROLL_DATA.[13]}}],
                ['15',  {{D20_ROLL_DATA.[14]}}],
                ['16',  {{D20_ROLL_DATA.[15]}}],
                ['17',  {{D20_ROLL_DATA.[16]}}],
                ['18',  {{D20_ROLL_DATA.[17]}}],
                ['19',  {{D20_ROLL_DATA.[18]}}],
                ['20',  {{D20_ROLL_DATA.[19]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20Chart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd100() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Die Number', 'Number Of rolls'],
                ['1',   {{D100_ROLL_DATA.[0]}}],
                ['2',   {{D100_ROLL_DATA.[1]}}],
                ['3',   {{D100_ROLL_DATA.[2]}}],
                ['4',   {{D100_ROLL_DATA.[3]}}],
                ['5',   {{D100_ROLL_DATA.[4]}}],
                ['6',   {{D100_ROLL_DATA.[5]}}],
                ['7',   {{D100_ROLL_DATA.[6]}}],
                ['8',   {{D100_ROLL_DATA.[7]}}],
                ['9',   {{D100_ROLL_DATA.[8]}}],
                ['10',  {{D100_ROLL_DATA.[9]}}],

                ['11',  {{D100_ROLL_DATA.[10]}}],
                ['12',  {{D100_ROLL_DATA.[11]}}],
                ['13',  {{D100_ROLL_DATA.[12]}}],
                ['14',  {{D100_ROLL_DATA.[13]}}],
                ['15',  {{D100_ROLL_DATA.[14]}}],
                ['16',  {{D100_ROLL_DATA.[15]}}],
                ['17',  {{D100_ROLL_DATA.[16]}}],
                ['18',  {{D100_ROLL_DATA.[17]}}],
                ['19',  {{D100_ROLL_DATA.[18]}}],
                ['20',  {{D100_ROLL_DATA.[19]}}],

                ['21',   {{D100_ROLL_DATA.[20]}}],
                ['22',   {{D100_ROLL_DATA.[21]}}],
                ['23',   {{D100_ROLL_DATA.[22]}}],
                ['24',   {{D100_ROLL_DATA.[23]}}],
                ['25',   {{D100_ROLL_DATA.[24]}}],
                ['26',   {{D100_ROLL_DATA.[25]}}],
                ['27',   {{D100_ROLL_DATA.[26]}}],
                ['28',   {{D100_ROLL_DATA.[27]}}],
                ['29',   {{D100_ROLL_DATA.[28]}}],
                ['30',   {{D100_ROLL_DATA.[29]}}],

                ['31',   {{D100_ROLL_DATA.[30]}}],
                ['32',   {{D100_ROLL_DATA.[31]}}],
                ['33',   {{D100_ROLL_DATA.[32]}}],
                ['34',   {{D100_ROLL_DATA.[33]}}],
                ['35',   {{D100_ROLL_DATA.[34]}}],
                ['36',   {{D100_ROLL_DATA.[35]}}],
                ['37',   {{D100_ROLL_DATA.[36]}}],
                ['38',   {{D100_ROLL_DATA.[37]}}],
                ['39',   {{D100_ROLL_DATA.[38]}}],
                ['40',   {{D100_ROLL_DATA.[39]}}],

                ['41',   {{D100_ROLL_DATA.[40]}}],
                ['42',   {{D100_ROLL_DATA.[41]}}],
                ['43',   {{D100_ROLL_DATA.[42]}}],
                ['44',   {{D100_ROLL_DATA.[43]}}],
                ['45',   {{D100_ROLL_DATA.[44]}}],
                ['46',   {{D100_ROLL_DATA.[45]}}],
                ['47',   {{D100_ROLL_DATA.[46]}}],
                ['48',   {{D100_ROLL_DATA.[47]}}],
                ['49',   {{D100_ROLL_DATA.[48]}}],
                ['50',   {{D100_ROLL_DATA.[49]}}],

                ['51',   {{D100_ROLL_DATA.[50]}}],
                ['52',   {{D100_ROLL_DATA.[51]}}],
                ['53',   {{D100_ROLL_DATA.[52]}}],
                ['54',   {{D100_ROLL_DATA.[53]}}],
                ['55',   {{D100_ROLL_DATA.[54]}}],
                ['56',   {{D100_ROLL_DATA.[55]}}],
                ['57',   {{D100_ROLL_DATA.[56]}}],
                ['58',   {{D100_ROLL_DATA.[57]}}],
                ['59',   {{D100_ROLL_DATA.[58]}}],
                ['60',   {{D100_ROLL_DATA.[59]}}],

                ['61',   {{D100_ROLL_DATA.[60]}}],
                ['62',   {{D100_ROLL_DATA.[61]}}],
                ['63',   {{D100_ROLL_DATA.[62]}}],
                ['64',   {{D100_ROLL_DATA.[63]}}],
                ['65',   {{D100_ROLL_DATA.[64]}}],
                ['66',   {{D100_ROLL_DATA.[65]}}],
                ['67',   {{D100_ROLL_DATA.[66]}}],
                ['68',   {{D100_ROLL_DATA.[67]}}],
                ['69',   {{D100_ROLL_DATA.[68]}}],
                ['70',   {{D100_ROLL_DATA.[69]}}],

                ['71',   {{D100_ROLL_DATA.[70]}}],
                ['72',   {{D100_ROLL_DATA.[71]}}],
                ['73',   {{D100_ROLL_DATA.[72]}}],
                ['74',   {{D100_ROLL_DATA.[73]}}],
                ['75',   {{D100_ROLL_DATA.[74]}}],
                ['76',   {{D100_ROLL_DATA.[75]}}],
                ['77',   {{D100_ROLL_DATA.[76]}}],
                ['78',   {{D100_ROLL_DATA.[77]}}],
                ['79',   {{D100_ROLL_DATA.[78]}}],
                ['80',   {{D100_ROLL_DATA.[79]}}],

                ['81',   {{D100_ROLL_DATA.[80]}}],
                ['82',   {{D100_ROLL_DATA.[81]}}],
                ['83',   {{D100_ROLL_DATA.[82]}}],
                ['84',   {{D100_ROLL_DATA.[83]}}],
                ['85',   {{D100_ROLL_DATA.[84]}}],
                ['86',   {{D100_ROLL_DATA.[85]}}],
                ['87',   {{D100_ROLL_DATA.[86]}}],
                ['88',   {{D100_ROLL_DATA.[87]}}],
                ['89',   {{D100_ROLL_DATA.[88]}}],
                ['90',   {{D100_ROLL_DATA.[89]}}],

                ['91',   {{D100_ROLL_DATA.[90]}}],
                ['92',   {{D100_ROLL_DATA.[91]}}],
                ['93',   {{D100_ROLL_DATA.[92]}}],
                ['94',   {{D100_ROLL_DATA.[93]}}],
                ['95',   {{D100_ROLL_DATA.[94]}}],
                ['96',   {{D100_ROLL_DATA.[95]}}],
                ['97',   {{D100_ROLL_DATA.[96]}}],
                ['98',   {{D100_ROLL_DATA.[97]}}],
                ['99',   {{D100_ROLL_DATA.[98]}}],
                ['100',   {{D100_ROLL_DATA.[99]}}]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d100Chart'));
            chart.draw(data, chartOptions);
        }

        //Checks to See if charts callback should be made
        if({{TOTAL_ROLLS.[0]}} > 0 && {{IS_DIE_DISPLAYED.[0]}})
        {
            google.charts.setOnLoadCallback(drawChartd2);
        }

        if({{TOTAL_ROLLS.[1]}} > 0 && {{IS_DIE_DISPLAYED.[1]}})
        {
            google.charts.setOnLoadCallback(drawChartd3);
        }

        if({{TOTAL_ROLLS.[2]}} > 0 && {{IS_DIE_DISPLAYED.[2]}})
        {
            google.charts.setOnLoadCallback(drawChartd4);
        }

        if({{TOTAL_ROLLS.[3]}} > 0 && {{IS_DIE_DISPLAYED.[3]}})
        {
            google.charts.setOnLoadCallback(drawChartd6);
        }

        if({{TOTAL_ROLLS.[4]}} > 0 && {{IS_DIE_DISPLAYED.[4]}})
        {
            google.charts.setOnLoadCallback(drawChartd8);
        }

        if({{TOTAL_ROLLS.[5]}} > 0 && {{IS_DIE_DISPLAYED.[5]}})
        {
            google.charts.setOnLoadCallback(drawChartd10);
        }

        if({{TOTAL_ROLLS.[6]}} > 0 && {{IS_DIE_DISPLAYED.[6]}})
        {
            google.charts.setOnLoadCallback(drawChartd12);
        }

        if({{TOTAL_ROLLS.[7]}} > 0 && {{IS_DIE_DISPLAYED.[7]}})
        {
            google.charts.setOnLoadCallback(drawChartd20);
        }

        if({{TOTAL_ROLLS.[8]}} > 0 && {{IS_DIE_DISPLAYED.[8]}})
        {
            google.charts.setOnLoadCallback(drawChartd100);
        }
    </script>

</form>

