{{!-- {{log 'Input data' this}} --}}
<!--
<form>
    <div>
        <h1 class="roll-tracker-comparison-card-heading">{{localize "ROLL-TRACKER.comparison-card.title"}}</h1>
        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.mean-header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.highest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{mean.highest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{mean.highest.value}} ({{mean.highest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.lowest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{mean.lowest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{mean.lowest.value}} ({{mean.lowest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
        </ul>
        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.median-header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.highest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{median.highest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{median.highest.value}} ({{median.highest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.lowest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{median.lowest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{median.lowest.value}} ({{median.lowest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
        </ul>
        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.nat1s-header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.highest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{nat1s.highest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{nat1s.highest.value}} ({{nat1s.highest.percentage}}% {{localize "ROLL-TRACKER.comparison-card.of"}} {{nat1s.highest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.lowest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{nat1s.lowest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{nat1s.lowest.value}} ({{nat1s.lowest.percentage}}% {{localize "ROLL-TRACKER.comparison-card.of"}} {{nat1s.lowest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
        </ul>
        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.nat20s-header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.highest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{nat20s.highest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{nat20s.highest.value}} ({{nat20s.highest.percentage}}% {{localize "ROLL-TRACKER.comparison-card.of"}} {{nat20s.highest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.lowest"}}: </span>
                <span class="roll-tracker-comparison-card-strong">{{nat20s.lowest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.with"}} {{nat20s.lowest.value}} ({{nat20s.lowest.percentage}}% {{localize "ROLL-TRACKER.comparison-card.of"}} {{nat20s.lowest.rolls}} {{localize "ROLL-TRACKER.comparison-card.rolls"}})
            </li>
        </ul>
    </div>
</form>
-->