{{!-- {{log 'Input data' this}} --}}
<!--
<form>
    <div class="roll-tracker-form flexcol" data-userId="{{thisUserId}}">
        <h1 class="roll-tracker-form-heading">{{username}}</h1>
        <ul class="roll-tracker-form flexcol">
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.mean"}}: </span>{{stats.mean}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.median"}}: </span>{{stats.median}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.mode"}} ({{stats.comparator}}
                {{#if (isOne stats.comparator)}} instance{{else}} instances{{/if}}{{#if (isMultimodal stats.mode)}} each{{/if}}): </span>{{stats.mode}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.nat1s"}}: </span>{{stats.nat1s}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.nat20s"}}: </span>{{stats.nat20s}}</li>
            {{#if stats.lastRoll}} <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.lastRoll"}}: </span>{{stats.lastRoll}}</li> {{/if}}
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.count"}}: </span>{{stats.count}}</li>
        </ul>
        <button type="button" class="roll-tracker-form-button-delete" data-action="clear"><i class="fas fa-times"></i>{{localize "ROLL-TRACKER.form-button.clear"}}</button>
        <button type="button" class="roll-tracker-form-button-print" data-action="print"><i class="fas fa-eye"></i>{{localize "ROLL-TRACKER.form-button.print"}}</button>

    </div>
</form>
-->