<form>
    <head>
        <script type = "text/javascript">
            google.charts.load('current', {packages: ['corechart']});     
        </script>
    </head>

   <div class="heading" id="module_ds_home">
        <!-- Example of using en.json values <li>{{localize "DICE_STATS_TEXT.player-stats-button-title"}} : {{testhandle}}</li>-->
        <div class="center-checkboxes">
            <input type="checkbox" class="form-checkboxes" data-action="d2checkbox"     {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[0]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d2"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d3checkbox"    {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[1]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d3"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d4checkbox"     {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[2]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d4"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d6checkbox"    {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[3]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d6"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d8checkbox"    {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[4]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d8"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d10checkbox"    {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[5]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d10"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d12checkbox"    {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[6]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d12"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d20checkbox"    {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[7]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d20"}}</span></input>
            <input type="checkbox" class="form-checkboxes" data-action="d100checkbox"    {{{diceStats_IsChecked playerData/IS_DIE_DISPLAYED.[8]}}}><span class="form-checkboxes">{{localize "DICE_STATS_TEXT.both_forms.checkboxes.d100"}}</span></input>
        </div>
        <br>
        <!-- Add Buttons to jump to tabs -->
        <div>
            <h3>Jump To:</h3>
            <ahref=""><img src="modules/dice-stats/svgs/noun-d4.svg" alt="D4" width="50" height="50"></ahref>
            <ahref=""><img src="modules/dice-stats/svgs/noun-d6.svg" alt="D6"  width="50" height="50"></ahref>
            <ahref=""><img src="modules/dice-stats/svgs/noun-d8.svg" alt="D8"  width="50" height="50"></ahref>
            <ahref=""><img src="modules/dice-stats/svgs/noun-d10.svg" alt="D10"  width="50" height="50"></ahref>
            <ahref=""><img src="modules/dice-stats/svgs/noun-d12.svg" alt="D12"  width="50" height="50"></ahref>
            <ahref=""><img src="modules/dice-stats/svgs/noun-d20.svg" alt="D20"  width="50" height="50"></ahref>
        </div>
        <br>
        {{#diceStats_ifHaveBlindRolls playerData/BLIND_ROLL_COUNT}}
        <div class="blind-roll-rollcount">
            <h2>{{localize "DICE_STATS_TEXT.player_data_form.blind_rolls" ui_rolls=playerData/BLIND_ROLL_COUNT }}</h2>
        </div>
        <br>
        {{/diceStats_ifHaveBlindRolls}}
   </div> <!-- End heading -->

    <!-- Buttons for selecting what tab to be on -->
    <nav class="tabs" data-group="primary-tabs">
        {{#each tabs}}
            <a class="item" data-action="refresh" data-tab="{{label}}"><i class="fas fa-dice-d20"></i>{{title}}</a>
        {{/each}}
    </nav>

    <!-- content for each selected tab -->
    <section class="content">
        {{#each tabs}}
            <div class="tab" data-tab="{{label}}" data-group="primary-tabs">
                <!-- Need to add section to tabbedplayerstats form to add more dice -->

                <!-- did we select 2dx Button -->
                {{#if twoDx}}
                    {{> modules/dice-stats/templates/partial/tab_player_stats_2dx.hbs ../playerData }}
                {{/if}}

                <!-- Did we select D20 Button? -->
                {{#if d20}} 
                    <!-- [DS_GLOBALS.DIE_TYPE.D20] == 7 -->
                    {{#diceStats_isTrue ../playerData.HAVE_DICE_SUB_CATAGORIES.[7] }}
                        {{> modules/dice-stats/templates/partial/tab_player_stats_d20.hbs ../playerData }}
                    {{else}}
                        {{> modules/dice-stats/templates/partial/tab_player_unsupported_info.hbs}}
                    {{/diceStats_isTrue}}
                {{/if}}
               
                <!-- Did we select 'All Stats' Button -->
                {{#if base }}
                    {{> modules/dice-stats/templates/partial/tab_player_stats_all_dice.hbs ../playerData }}
                {{/if}}
            </div>
        {{/each}}
    </section>

    <br>
        
    <!-- Buttons table -->
    <div>
        <tr>   
            <button type="button" data-action="refresh">{{localize "DICE_STATS_TEXT.both_forms.refresh_btn"}}</button>    
        </tr>
        {{#diceStats_ifIsMe playerData/PLAYER_NAME}}

            {{#diceStats_ifAutoDbActive playerData/AUTO_DB_ACTIVE}}
                <br>
                <h4 class="db-interaction-heading"></h4>
                <table>
                    <tr>
                        <td>
                            <button type="button" data-action="clearYourDBrollData">{{localize "DICE_STATS_TEXT.player_data_form.clear_my_db_info"}}</button>
                        </td>
                        <td>
                            <button type="button" data-action="clearYourLocalRollData">{{localize "DICE_STATS_TEXT.player_data_form.clear_my_local_data_btn"}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" data-action="save">{{localize "DICE_STATS_TEXT.player_data_form.save_data_btn"}}</button>
                        </td>
                        <td>
                            <button type="button" data-action="clearAllPlayerData">{{localize "DICE_STATS_TEXT.player_data_form.clear_your_both"}}</button>
                        </td>
                    </tr>
                </table>
                <button type="button" data-action="loadAllFromDB">{{localize "DICE_STATS_TEXT.player_data_form.load_data_btn"}}</button>
                        
            {{else}}
                <br>
                <h4 class="db-interaction-heading"></h4>
                <table>
                    <tr>
                        <td>
                            <button type="button" data-action="clearAllLocalRollData">{{localize "DICE_STATS_TEXT.player_data_form.clear_all_local_data_btn"}}</button>
                        </td>
                        <td>
                            <button type="button" data-action="clearYourLocalRollData">{{localize "DICE_STATS_TEXT.player_data_form.clear_my_local_data_btn"}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" data-action="loadAllFromDB">{{localize "DICE_STATS_TEXT.player_data_form.load_data_btn"}}</button>
                        </td>
                        <td>
                            <button type="button" data-action="save">{{localize "DICE_STATS_TEXT.player_data_form.save_data_btn"}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" data-action="loadOthersFromDB">{{localize "DICE_STATS_TEXT.player_data_form.load_data_btn_others"}}</button>
                        </td>
                        <td>
                            <button type="button" data-action="loadYoursFromDB">{{localize "DICE_STATS_TEXT.player_data_form.load_data_btn_yours"}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" data-action="clearYourDBrollData">{{localize "DICE_STATS_TEXT.player_data_form.clear_my_db_info"}}</button>
                        </td>
                        <td>
                            <button type="button" data-action="clearAllPlayerData">{{localize "DICE_STATS_TEXT.player_data_form.clear_your_both"}}</button>
                        </td>
                    </tr>
                </table>
            {{/diceStats_ifAutoDbActive}}
        
        {{/diceStats_ifIsMe}}
    </div>

</form>