<script type = "text/javascript">
    google.charts.load('current', {packages: ['corechart']});     
</script>

{{#diceStats_ifHaveBlindRolls BLIND_ROLL_COUNT}}
    <div class="blind-roll-rollcount">
        <h2>{{localize "DICE_STATS_TEXT.player_data_form.blind_rolls" ui_rolls=BLIND_ROLL_COUNT }}</h2>
    </div>
    <br>
{{else}}
    <div class="col">
        <h1 class="dice-type-title">{{localize "DICE_STATS_TEXT.player_data_form.player_name" ui_player=PLAYER_NAME}}</h1>
        <br>
        
        <!--
            const DIE_ROLL_TYPE = {
                ATK: 0,
                DMG: 1,
                SAVE: 2,
                SKILL: 3,
                ABILITY: 4,
                UNKNOWN: 5   
            }
        -->

        {{#diceStats_ifDieUsed D20_ROLLCOUNT.[0] }} <!-- if Have D20 ATK Rolls -->
            <h1 class="dice-type-title">D20 Atack Rolls</h1>
            <div id = "d20AtkChart" class="chart-dice-stats"></div>
            <table> <!-- Table Of Rolled Stats -->
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                    <td>{{D20_ROLLCOUNT.[0]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                    <td>{{D20_MEAN.[0]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                    <td>{{D20_MEDIAN.[0]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                    <td>{{D20_MODE.[0]}}</th>
                </tr>
            </table>
            <br>
        {{/diceStats_ifDieUsed}}

        {{#diceStats_ifDieUsed D20_ROLLCOUNT.[1] }} <!-- if Have D20 Damage Rolls -->
            <h1 class="dice-type-title">D20 Damage Rolls</h1>
            <div id = "d20DmgChart" class="chart-dice-stats"></div>
            <table> <!-- Table Of Rolled Stats -->
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                    <td>{{D20_ROLLCOUNT.[1]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                    <td>{{D20_MEAN.[1]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                    <td>{{D20_MEDIAN.[1]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                    <td>{{D20_MODE.[1]}}</th>
                </tr>
            </table>
            <br>
        {{/diceStats_ifDieUsed}}

        {{#diceStats_ifDieUsed D20_ROLLCOUNT.[2] }} <!-- if Have D20 Save Rolls -->
            <h1 class="dice-type-title">D20 Save Rolls</h1>
            <div id = "d20SaveChart" class="chart-dice-stats"></div>
            <table> <!-- Table Of Rolled Stats -->
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                    <td>{{D20_ROLLCOUNT.[2]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                    <td>{{D20_MEAN.[2]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                    <td>{{D20_MEDIAN.[2]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                    <td>{{D20_MODE.[2]}}</th>
                </tr>
            </table>
            <br>
        {{/diceStats_ifDieUsed}}

        {{#diceStats_ifDieUsed D20_ROLLCOUNT.[3] }} <!-- if Have D20 Skill Rolls -->
            <h1 class="dice-type-title">D20 Skill Rolls</h1>
            <div id = "d20SkillChart" class="chart-dice-stats"></div>
            <table> <!-- Table Of Rolled Stats -->
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                    <td>{{D20_ROLLCOUNT.[3]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                    <td>{{D20_MEAN.[3]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                    <td>{{D20_MEDIAN.[3]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                    <td>{{D20_MODE.[3]}}</th>
                </tr>
            </table>
            <br>
        {{/diceStats_ifDieUsed}}

        {{#diceStats_ifDieUsed D20_ROLLCOUNT.[4] }} <!-- if Have D20 Ability Rolls -->
            <h1 class="dice-type-title">D20 Ability Rolls</h1>
            <div id = "d20AbilityChart" class="chart-dice-stats"></div>
            <table> <!-- Table Of Rolled Stats -->
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                    <td>{{D20_ROLLCOUNT.[4]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                    <td>{{D20_MEAN.[4]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                    <td>{{D20_MEDIAN.[4]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                    <td>{{D20_MODE.[4]}}</th>
                </tr>
            </table>
            <br>
        {{/diceStats_ifDieUsed}}

        {{#diceStats_ifDieUsed D20_ROLLCOUNT.[5] }} <!-- if Have D20 Unknown Rolls -->
            <h1 class="dice-type-title">D20 Unknown Rolls</h1>
            <div id = "d20UnknownChart" class="chart-dice-stats"></div>
            <table> <!-- Table Of Rolled Stats -->
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.total_rolls"}}</th>
                    <td>{{D20_ROLLCOUNT.[5]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mean"}}</th>
                    <td>{{D20_MEAN.[5]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.median"}}</th>
                    <td>{{D20_MEDIAN.[5]}}</th>
                </tr>
                <tr>
                    <td>{{localize "DICE_STATS_TEXT.both_forms.table_values.mode"}}</th>
                    <td>{{D20_MODE.[5]}}</th>
                </tr>
            </table>
            <br>
        {{/diceStats_ifDieUsed}}
    </div>

    <script language = "JavaScript">
        var chartOptions = {
            //NOTE:Couldn't adjust "hAxis.baseline" to make it thicker
            backgroundColor:{
                fill: '#faf0e1',
                fillOpacity: 0.1,
            },
            chartArea:{
                backgroundColor:{
                fill: '#faf0e1',
                fillOpacity: 0.1,
                width: "100%",
                height: "100%",
                },
            },
            hAxis: {
                title: '{{localize 'DICE_STATS_TEXT.google_chart.die'}}',
                titleTextStyle:{
                    fontSize:20,
                },
                textStyle:{
                    fontSize: 12,
                },
                gridlines:{
                    color:'black',
                },
            },
            vAxis: {
                title: '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}',
                titleTextStyle:{
                    fontSize:20,
                },
                textStyle:{
                    fontSize: 15,
                },
                gridlines:{
                    color:'black',
                },
                minorGridlines:{
                    color:'black',
                },
                minValue: 0,
            },
            legend: 'none',
        }

        function drawChartd20Atk() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable(
                [
                    ['{{localize 'DICE_STATS_TEXT.google_chart.die'}}', '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}'],
                    ['1',   {{D20_ATK.[0]}}],
                    ['2',   {{D20_ATK.[1]}}],
                    ['3',   {{D20_ATK.[2]}}],
                    ['4',   {{D20_ATK.[3]}}],
                    ['5',   {{D20_ATK.[4]}}],
                    ['6',   {{D20_ATK.[5]}}],
                    ['7',   {{D20_ATK.[6]}}],
                    ['8',   {{D20_ATK.[7]}}],
                    ['9',   {{D20_ATK.[8]}}],
                    ['10',  {{D20_ATK.[9]}}],
                    ['11',  {{D20_ATK.[10]}}],
                    ['12',  {{D20_ATK.[11]}}],
                    ['13',  {{D20_ATK.[12]}}],
                    ['14',  {{D20_ATK.[13]}}],
                    ['15',  {{D20_ATK.[14]}}],
                    ['16',  {{D20_ATK.[15]}}],
                    ['17',  {{D20_ATK.[16]}}],
                    ['18',  {{D20_ATK.[17]}}],
                    ['19',  {{D20_ATK.[18]}}],
                    ['20',  {{D20_ATK.[19]}}]
                ]
            );

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20AtkChart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd20Dmg() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable(
                [
                    ['{{localize 'DICE_STATS_TEXT.google_chart.die'}}', '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}'],
                    ['1',   {{D20_DMG.[0]}}],
                    ['2',   {{D20_DMG.[1]}}],
                    ['3',   {{D20_DMG.[2]}}],
                    ['4',   {{D20_DMG.[3]}}],
                    ['5',   {{D20_DMG.[4]}}],
                    ['6',   {{D20_DMG.[5]}}],
                    ['7',   {{D20_DMG.[6]}}],
                    ['8',   {{D20_DMG.[7]}}],
                    ['9',   {{D20_DMG.[8]}}],
                    ['10',  {{D20_DMG.[9]}}],
                    ['11',  {{D20_DMG.[10]}}],
                    ['12',  {{D20_DMG.[11]}}],
                    ['13',  {{D20_DMG.[12]}}],
                    ['14',  {{D20_DMG.[13]}}],
                    ['15',  {{D20_DMG.[14]}}],
                    ['16',  {{D20_DMG.[15]}}],
                    ['17',  {{D20_DMG.[16]}}],
                    ['18',  {{D20_DMG.[17]}}],
                    ['19',  {{D20_DMG.[18]}}],
                    ['20',  {{D20_DMG.[19]}}]
                ]
            );

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20DmgChart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd20Save() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable(
                [
                    ['{{localize 'DICE_STATS_TEXT.google_chart.die'}}', '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}'],
                    ['1',   {{D20_SAVE.[0]}}],
                    ['2',   {{D20_SAVE.[1]}}],
                    ['3',   {{D20_SAVE.[2]}}],
                    ['4',   {{D20_SAVE.[3]}}],
                    ['5',   {{D20_SAVE.[4]}}],
                    ['6',   {{D20_SAVE.[5]}}],
                    ['7',   {{D20_SAVE.[6]}}],
                    ['8',   {{D20_SAVE.[7]}}],
                    ['9',   {{D20_SAVE.[8]}}],
                    ['10',  {{D20_SAVE.[9]}}],
                    ['11',  {{D20_SAVE.[10]}}],
                    ['12',  {{D20_SAVE.[11]}}],
                    ['13',  {{D20_SAVE.[12]}}],
                    ['14',  {{D20_SAVE.[13]}}],
                    ['15',  {{D20_SAVE.[14]}}],
                    ['16',  {{D20_SAVE.[15]}}],
                    ['17',  {{D20_SAVE.[16]}}],
                    ['18',  {{D20_SAVE.[17]}}],
                    ['19',  {{D20_SAVE.[18]}}],
                    ['20',  {{D20_SAVE.[19]}}]
                ]
            );

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20SaveChart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd20Skill() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable(
                [
                    ['{{localize 'DICE_STATS_TEXT.google_chart.die'}}', '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}'],
                    ['1',   {{D20_SKILL.[0]}}],
                    ['2',   {{D20_SKILL.[1]}}],
                    ['3',   {{D20_SKILL.[2]}}],
                    ['4',   {{D20_SKILL.[3]}}],
                    ['5',   {{D20_SKILL.[4]}}],
                    ['6',   {{D20_SKILL.[5]}}],
                    ['7',   {{D20_SKILL.[6]}}],
                    ['8',   {{D20_SKILL.[7]}}],
                    ['9',   {{D20_SKILL.[8]}}],
                    ['10',  {{D20_SKILL.[9]}}],
                    ['11',  {{D20_SKILL.[10]}}],
                    ['12',  {{D20_SKILL.[11]}}],
                    ['13',  {{D20_SKILL.[12]}}],
                    ['14',  {{D20_SKILL.[13]}}],
                    ['15',  {{D20_SKILL.[14]}}],
                    ['16',  {{D20_SKILL.[15]}}],
                    ['17',  {{D20_SKILL.[16]}}],
                    ['18',  {{D20_SKILL.[17]}}],
                    ['19',  {{D20_SKILL.[18]}}],
                    ['20',  {{D20_SKILL.[19]}}]
                ]
            );

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20SkillChart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd20Ability() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable(
                [
                    ['{{localize 'DICE_STATS_TEXT.google_chart.die'}}', '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}'],
                    ['1',   {{D20_ABILITY.[0]}}],
                    ['2',   {{D20_ABILITY.[1]}}],
                    ['3',   {{D20_ABILITY.[2]}}],
                    ['4',   {{D20_ABILITY.[3]}}],
                    ['5',   {{D20_ABILITY.[4]}}],
                    ['6',   {{D20_ABILITY.[5]}}],
                    ['7',   {{D20_ABILITY.[6]}}],
                    ['8',   {{D20_ABILITY.[7]}}],
                    ['9',   {{D20_ABILITY.[8]}}],
                    ['10',  {{D20_ABILITY.[9]}}],
                    ['11',  {{D20_ABILITY.[10]}}],
                    ['12',  {{D20_ABILITY.[11]}}],
                    ['13',  {{D20_ABILITY.[12]}}],
                    ['14',  {{D20_ABILITY.[13]}}],
                    ['15',  {{D20_ABILITY.[14]}}],
                    ['16',  {{D20_ABILITY.[15]}}],
                    ['17',  {{D20_ABILITY.[16]}}],
                    ['18',  {{D20_ABILITY.[17]}}],
                    ['19',  {{D20_ABILITY.[18]}}],
                    ['20',  {{D20_ABILITY.[19]}}]
                ]
            );

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20AbilityChart'));
            chart.draw(data, chartOptions);
        }

        function drawChartd20Unknown() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable(
                [
                    ['{{localize 'DICE_STATS_TEXT.google_chart.die'}}', '{{localize 'DICE_STATS_TEXT.google_chart.rolls'}}'],
                    ['1',   {{D20_UNKNOWN.[0]}}],
                    ['2',   {{D20_UNKNOWN.[1]}}],
                    ['3',   {{D20_UNKNOWN.[2]}}],
                    ['4',   {{D20_UNKNOWN.[3]}}],
                    ['5',   {{D20_UNKNOWN.[4]}}],
                    ['6',   {{D20_UNKNOWN.[5]}}],
                    ['7',   {{D20_UNKNOWN.[6]}}],
                    ['8',   {{D20_UNKNOWN.[7]}}],
                    ['9',   {{D20_UNKNOWN.[8]}}],
                    ['10',  {{D20_UNKNOWN.[9]}}],
                    ['11',  {{D20_UNKNOWN.[10]}}],
                    ['12',  {{D20_UNKNOWN.[11]}}],
                    ['13',  {{D20_UNKNOWN.[12]}}],
                    ['14',  {{D20_UNKNOWN.[13]}}],
                    ['15',  {{D20_UNKNOWN.[14]}}],
                    ['16',  {{D20_UNKNOWN.[15]}}],
                    ['17',  {{D20_UNKNOWN.[16]}}],
                    ['18',  {{D20_UNKNOWN.[17]}}],
                    ['19',  {{D20_UNKNOWN.[18]}}],
                    ['20',  {{D20_UNKNOWN.[19]}}]
                ]
            );

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('d20UnknownChart'));
            chart.draw(data, chartOptions);
        }

        //Make sure value is in data object
        {{#if D20_ROLLCOUNT includeZero=true}}

            //Checks to See if charts callback should be made (If charts should be displayed)
            if({{D20_ROLLCOUNT.[0]}} > 0 )
            {
                google.charts.setOnLoadCallback(drawChartd20Atk);
            }

            if({{D20_ROLLCOUNT.[1]}} > 0 )
            {
                google.charts.setOnLoadCallback(drawChartd20Dmg);
            }

            if({{D20_ROLLCOUNT.[2]}} > 0 )
            {
                google.charts.setOnLoadCallback(drawChartd20Save);
            }

            if({{D20_ROLLCOUNT.[3]}} > 0 )
            {
                google.charts.setOnLoadCallback(drawChartd20Skill);
            }

            if({{D20_ROLLCOUNT.[4]}} > 0 )
            {
                google.charts.setOnLoadCallback(drawChartd20Ability);
            }

            if({{D20_ROLLCOUNT.[5]}} > 0 )
            {
                google.charts.setOnLoadCallback(drawChartd20Unknown);
            }
        {{/if}}
    </script>
{{/diceStats_ifHaveBlindRolls}}